In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("students_with_scores.csv")

#Inspect the first 4 rows using df.

print(df.head())

#inspect the last 5 rows
print(df.tail())

       Name      School Grade  Score
0  Student1   West High     A     92
1  Student2  South High     F      6
2  Student3  North High     D     64
3  Student4   West High     B     88
4  Student5   West High     A     96
         Name      School Grade  Score
15  Student16  North High     C     76
16  Student17  South High     A     97
17  Student18  South High     C     72
18  Student19  South High     C     70
19  Student20   West High     A     93

In [24]:
#check the shape
print("data frame:", df.shape)

#check the column names
print(df.columns)

#check the summary stats
# print(df.describe())
#information on data types and missing values
print(df.info)
print(df.info())

data frame: (20, 4)
Index(['Name', 'School', 'Grade', 'Score'], dtype='object')
<bound method DataFrame.info of          Name      School Grade  Score
0    Student1   West High     A     92
1    Student2  South High     F      6
2    Student3  North High     D     64
3    Student4   West High     B     88
4    Student5   West High     A     96
5    Student6  South High     A     91
6    Student7  North High     B     83
7    Student8  North High     C     78
8    Student9   West High     B     81
9   Student10   East High     B     89
10  Student11   West High     C     78
11  Student12   West High     A     99
12  Student13   West High     B     84
13  Student14   West High     B     81
14  Student15  South High     B     83
15  Student16  North High     C     76
16  Student17  South High     A     97
17  Student18  South High     C     72
18  Student19  South High     C     70
19  Student20   West High     A     93>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    20 non-null     object
 1   School  20 non-null     object
 2   Grade   20 non-null     object
 3   Score   20 non-null     int64
dtypes: int64(1), object(3)
memory usage: 772.0+ bytes
None

In [37]:
#single column
# print(df["Name"])

# #multiple columns
# print(df[["Name","School","Grade"]])

#row by Label using loc
print(df.loc[0])

#specific rows and columns

print(df.loc[0:2])

# specify rows and columss
print(df.loc[0:2, ["Name","Grade"]])

Name       Student1
School    West High
Grade             A
Score            92
Name: 0, dtype: object
       Name      School Grade  Score
0  Student1   West High     A     92
1  Student2  South High     F      6
2  Student3  North High     D     64
       Name Grade
0  Student1     A
1  Student2     F
2  Student3     D

In [44]:
#iloc -uses numbers is exclusive
print(df.iloc[0])

#specify rows and columns
print(df.iloc[0:2, 0:2])

Name       Student1
School    West High
Grade             A
Score            92
Name: 0, dtype: object
       Name      School
0  Student1   West High
1  Student2  South High

In [75]:
#Names and scored of first 3 students
print(df.loc[0:3, ["Name","Score"]])

#all students from a specific school
school_name ="West High"
print("All student from  West High",school_name, ":",df[df["School"]== school_name])


#Scored of the last 2 students
last2 = df.iloc[-2: ,df.columns.get_loc("Score")]
print(last2)

#sort by descending order
print(df.sort_values(by="Score", ascending= False))

#filter students with scores above 80
print(df[df["Score"]>80])

#Average score per school

       Name  Score
0  Student1     92
1  Student2      6
2  Student3     64
3  Student4     88
All student from  West High West High :          Name     School Grade  Score
0    Student1  West High     A     92
3    Student4  West High     B     88
4    Student5  West High     A     96
8    Student9  West High     B     81
10  Student11  West High     C     78
11  Student12  West High     A     99
12  Student13  West High     B     84
13  Student14  West High     B     81
19  Student20  West High     A     93
18    70
19    93
Name: Score, dtype: int64
         Name      School Grade  Score
11  Student12   West High     A     99
16  Student17  South High     A     97
4    Student5   West High     A     96
19  Student20   West High     A     93
0    Student1   West High     A     92
5    Student6  South High     A     91
9   Student10   East High     B     89
3    Student4   West High     B     88
12  Student13   West High     B     84
6    Student7  North High     B     83
14  Student15  South High     B     83
8    Student9   West High     B     81
13  Student14   West High     B     81
7    Student8  North High     C     78
10  Student11   West High     C     78
15  Student16  North High     C     76
17  Student18  South High     C     72
18  Student19  South High     C     70
2    Student3  North High     D     64
1    Student2  South High     F      6
         Name      School Grade  Score
0    Student1   West High     A     92
3    Student4   West High     B     88
4    Student5   West High     A     96
5    Student6  South High     A     91
6    Student7  North High     B     83
8    Student9   West High     B     81
9   Student10   East High     B     89
11  Student12   West High     A     99
12  Student13   West High     B     84
13  Student14   West High     B     81
14  Student15  South High     B     83
16  Student17  South High     A     97
19  Student20   West High     A     93